<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/stylesQuery.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <title>Biblioteca</title>
</head>

<body>
    <nav>
       <ul>
        <p class="bib">Biblioteca</p>
         
            <li class="menu">
                <div class="barra"></div>
                <a>CRUD<span>&rsaquo;</span></a>
               
                <ul>
                    <li><a href="/">Autor</a></li>
                    <li><a href="/libro">Libro</a></li>
                    <li><a href="/edicion">Edición</a></li>
                    <li><a href="/copia">Copia</a></li>
                    <li><a href="/usuario">Usuario</a></li>
                    <li><a href="/prestamo">Préstamo</a></li>
                </ul> 
            </li> 
            
            <li class="menu">

                <div class="barra"></div>
                
                <a>Consultas<span>&rsaquo;</span></a>
                
                <ul>
                    <li><a href="consultaL">Consulta 1.</a></li>
                    <li><a href="consultaU">Consulta 2.</a></li>
                </ul> 
            </li> 
       </ul> 
    </nav>

    <div class="contenedor">
        <h2>Consulta 2. Listado de los libros prestados por un usuario</h2>
    </div>

    <table id="autores">
        <tr>
          <th>Usuario</th>
          <th>Libro(s)</th>
        </tr>
       <tr >
           <th class="atributos">Nombre</th>
           <th class="atributos">Título</th>
       </tr> 
       <tr>
        {% for usuario, libros in data.items() %}
        <td>{{usuario}}</td>
        <td>{{libros}}</td>
        </tr>
        {% endfor %}
       
      </table>
      
</body>

</html>