<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <title>Biblioteca</title>
</head>

<body>
    <nav>
       <ul>
        <p class="bib">Biblioteca</p>
         
            <li class="menu">
                <div class="barra"></div>
                <a>CRUD<span>&rsaquo;</span></a>
               
                <ul>
                    <li><a href="">Autor</a></li>
                    <li><a href="libro">Libro</a></li>
                    <li><a href="edicion">Edición</a></li>
                    <li><a href="copia">Copia</a></li>
                    <li><a href="usuario">Usuario</a></li>
                    <li><a href="prestamo">Préstamo</a></li>
                </ul> 
            </li> 
            
            <li class="menu">

                <div class="barra"></div>
                
                <a>Consultas<span>&rsaquo;</span></a>
                
                <ul>
                    <li><a href="consultaL">Consulta 1.</a></li>
                    <li><a href="consultaU">Consulta 2.</a></li>
                </ul> 
            </li> 
       </ul> 
    </nav>
    <div class="contenedor">
        <h2>Autor</h2>
        <form id="formulario" name="formulario" method="POST">
            <div class="elemento">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required="true"/>
            </div>
            <div class="elemento">
                <label for="id_oculto">ID Oculto</label>
                <input type="text" id="id_oculto" name="id_oculto" readonly/>
            </div>
            <div class="elemento">
                <input type="submit" value="Agregar" formaction="createAutor"/>
            </div>
        </form>
    </div>
    <table id="autores">
        <tr>
          <th>Nombre</th>
          <th>id oculto</th>
        </tr>
        {% for name,id in data.items() %}
        <tr>
            <td>{{name}}</td>
            <td><{{id}}</td>
            <td class="btn_delete"><a href="/deleteAutor/{{id}}">eliminar</a></td>
        </tr>
        {% endfor %}
      </table>
      
</body>

</html>