<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/stylesTables.css') }}" rel="stylesheet">
    <title>Biblioteca</title>
</head>

<body>
    <nav>
       <ul>
        <p class="bib">Biblioteca</p>
         
            <li class="menu">
                <div class="barra"></div>
                <a>CRUD<span>&rsaquo;</span></a>
               
                <ul>
                    <li><a href="/">Autor</a></li>
                    <li><a href="libro">Libro</a></li>
                    <li><a href="edicion">Edición</a></li>
                    <li><a href="copia">Copia</a></li>
                    <li><a href="usuario">Usuario</a></li>
                    <li><a href="prestamo">Préstamo</a></li>
                </ul> 
            </li> 
            
            <li class="menu">

                <div class="barra"></div>
                
                <a>Consultas<span>&rsaquo;</span></a>
                
                <ul>
                    <li><a href="consultaL">Consulta 1.</a></li>
                    <li><a href="consultaU">Consulta 2.</a></li>
                </ul> 
            </li> 
       </ul> 
    </nav>
    <div class="contenedor">
        <h2>Libro</h2>
        <form id="formulario" name="formulario" method="POST">
            <div class="elemento">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" required="true"/>
            </div>
            <div class="elemento">
                <input type="submit" value="Agregar"/>
            </div>
        </form>
    </div>
    <table id="autores">
        <tr>
          <th>Titulo</th>
        </tr>
        <tr>
          <td>Ready Player One</td>
          <td class="btn_delete">eliminar</td>
        </tr>
        <tr>
            <td>El Principito</td>
            <td class="btn_delete">eliminar</td>
          </tr>
      </table>
      
</body>

</html>